* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  outline: 1px solid gray;
}

span {
  position: absolute;
}

.invisible {
  display: none;
}

.scale-canvas {
  transform: scale(3);
}

.game-container {
  position: relative;
  /* outline: 1px solid gray; */
  background: rgb(134, 132, 132);

  width: 100%;
  height: 100vh;
  /* transform: scale(3); */
}

.btn {
  padding: 0;
  cursor: pointer;
}
.btn-setting {
  display: flex;
  align-items: center;

  position: absolute;
  left: 32px;
  top: 32px;
  width: 16px;
  height: 16px;
}

.score {
  display: flex;
  align-items: center;
  direction: rtl;

  position: absolute;
  right: 3px;
  top: 2px;
  width: 16px;
  height: 16px;
}
.score span {
  font-family: NanoSquareOutlin;
  font-size: 90px;
  color: black;
  height: 100%;
  transform: translateY(-90%);
}

.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  /* background: black; */
  transform: translate(-50%, -50%);
}
.menu-item {
  position: absolute;
  display: flex;
  justify-content: center;

  /* background: white; */
}

.menu-item span {
  width: 100%;
  /* font-family: ImpactfulBits;
  color: whitesmoke;
  text-align: center; */
}

.menu-start {
  width: 48px;
  height: 24px;
}

.game-over-title {
  top: -90px;
  left: 37px;
  width: 130px;
  height: 24px;
}

.btn-restart {
  /* align-items: center; */
  width: 24px;
  height: 24px;
  bottom: -85px;
  right: 77px;
}

@font-face {
  font-family: NanoSquareOutlin;
  src: url(./dino_jump/sprites/Font/NanoSquareOutlin.ttf);
}

/* @font-face {
  font-family: ImpactfulBits;
  src: url(./dino_jump/sprites/Font/ImpactfulBits.ttf);
}

@font-face {
  font-family: MicroPixel;
  src: url(./dino_jump/sprites/Font/MicroPixel.ttf);
} */
